
{% extends 'pages/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-red-500 text-lg">welcome home! </h1>
    <div class="hero">
        <img src="{('assets/img/baby-7852589_1280.jpg')}" alt="">
    </div>
{% endblock %}
